html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel="stylesheet" href="css/styles.css")
    link(rel='icon', type='image/ png', size='16x16', href='image/vcicon.png')
    title #{title}
  body
    header 
      li.TOP(id='top') ＴＯＰ
      li.TOPs ＞＞
      li.TOP(id='top' ) #{title}
    #app
      .A
        br
        h2 プログラム一覧
          br
        nav.menu(style='border-top: solid #1e366a 1px;border-bottom: solid #1e366a 1px;margin-left:39px')
            ul.list
              .D
                li.masuta(v-for="list in lists" v-on:mouseover="loadlist(list.method)" v-bind:id="list.id") {{list.value}}
              .F(v-show="is__select1")
                li.masuta2(v-for="masutalist in masuta" v-bind:id="masutalist.id") {{masutalist.value}}
              .F(v-show="is__select2")
                li.masuta2(v-for="Salelist in Sales" v-bind:id="Salelist.id") {{Salelist.value}}
              .F(v-show="is__select3")
                li.masuta2(v-for="Purchaselist in Purchase" v-bind:id="Purchaselist.id") {{Purchaselist.value}}
              .F(v-show="is__select4")
                li.masuta2(v-for="stocklist in Stock" v-bind:id="stocklist.id") {{stocklist.value}}
              .F(v-show="is__select5")
                li.masuta2(v-for="productionlist in Production" v-bind:id="productionlist.id") {{productionlist.value}}
              .F(v-show="is__select6")
                li.masuta2(v-for="transferlist in Transfer" v-bind:id="transferlist.id") {{transferlist.value}}
      br
      form.program(name='program' action='/quantity1' onsubmit="return false;" method='POST' )
        .B(style="width:700px")
          li.button(@click='kubun1' id='ku1') 入力/修正
          li.button3(@click='kubun3' id='ku3') 削除
          li.button(id='itiran' style='margin-right:50px') 一覧
          li.button(id='sub') 送信
          span.p-country-name(style="display:none;") Japan
          p.ku(style='width:250px;') 現在の処理 : {{ kubun }}
          hr(style="margin-bottom:10px;margin-top:10px")
          label.koumoku
            | 商品コード　　：
            input.nyu(id='productcode' name='koumoku[]' size="15" type='text', value=`${koumoku[0]}` placeholder='コードを入力' autocomplete="off") 
          br
          br
          label.koumoku
            | 商品名　　　　：
            input.nyu(id='productname' name='koumoku[]' size='40' type='text' value=`${koumoku[1]}` v-bind:readonly='is_readonly' autocomplete="off")
          br
          br
          label.koumoku
            | 入り数　　　　：
            input.nyu(id='koumoku3' name='koumoku[]' type='text' value=`${koumoku[2]}` v-bind:readonly='is_readonly' size="15" autocomplete="off")
          br
          br
          input.nyu(name='authority' type='hidden' value=`${authority}`)
          input(id='jun' value=`${jun}` type='hidden')
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='script/program.js')
    script(src='script/quantity.js')
    script(src='script/information.js')
    