html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel="stylesheet" href="css/styles.css")
    link(rel='icon', type='image/ png', size='16x16', href='image/vcicon.png')
    title #{title}
  body
    header 
      li.top #{title}
    #app
      form.program(name='program' action='quantitytable1' method='POST' style='margin:20px')
        .B
          label.koumoku(id='search') 商品名・コード検索　　　：
          input.nyu(name='koumoku1' id='koumoku' type='text' autocomplete="off" placeholder='Enterキーで検索') 
        .E
          nav.menu(style='width:800px;height:550px;margin-left:-20px;margin-top:-30px')
            ul.list
              table.table
                tr.tr 
                  th.th(style='width:200px') #{midasi1}
                  th.th(style='width:400px') #{midasi2}
                  th.th(style='width:200px') #{midasi3}
                - var x = 1
                each quantity in list
                  tr.tr 
                    td.td( id='boxcode'+`${x}` ondblclick='dbl(event.target.innerText,event.target.id)') #{quantity.productcode}
                    td.td #{quantity.shohinname}
                    td.td #{quantity.quantity}
                    - x++ 
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='script/program.js')
    script(src='script/quantitytable.js')