html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel="stylesheet" href="css/styles.css")
    link(rel='icon', type='image/ png', size='16x16', href='image/vcicon.png')
    title #{title}
  body
    header 
      li.top #{title}
    #app
      form.program(name='program' action='purchasetable1' method='POST' style='margin:20px')
        .B
          label.koumoku(id='search') 仕入先名・コード検索　　　：
          input.nyu(name='koumoku1' id='koumoku' type='text' autocomplete="off" placeholder='Enterキーで検索') 
        .E
          nav.menu(style='width:1200px;height:600px;margin-left:-20px;margin-top:-30px')
            ul.list
              table.table
                tr.tr 
                  th.th(style='width:130px') #{midasi1}
                  th.th(style='width:350px') #{midasi2}
                  th.th(style='width:130px') #{midasi3}
                  th.th(style='width:600px') #{midasi4}
                  th.th(style='width:130px') #{midasi5}
                - var x = 1
                each purchase in list
                  tr.tr 
                    td.td( id='purchasecode'+`${x}` ondblclick='dbl(event.target.innerText,event.target.id)') #{purchase.purchasecode}
                    td.td #{purchase.purchasename1}
                    td.td #{purchase.postnumber}
                    td.td #{purchase.purchasefrom1}
                    td.td #{purchase.staff}
                    - x++ 
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='script/program.js')
    script(src='script/purchasetable.js')